@use '@/app/styles.module' as *;

.tasksSkeleton {
  display: flex;
  flex-direction: column;
  gap: 3px;

  margin: 5px 0;
  padding: 5px;

  animation: fade-in 1s ease-in-out infinite alternate;

  div {
    height: 20px;
    border-radius: 5px;
    background-color: $light-grey;
  }
}

@keyframes fade-in {
  from {opacity: 0.5;}
  to {opacity: 1;}
}