@use '@/app/globals' as *;

.button {
    cursor: pointer;

    padding: 2px 10px;
    border: none;
    border-radius: 5px;

    font-weight: bold;
    color: $text-color;

    background-color: $middle-grey;
}

.button.active {
    background-color: $light-grey;
}

.button:disabled {
    cursor: inherit;
    opacity: 0.5;
}

.button:active{
    opacity: 0.8;
}