.overlay {
    position: absolute;
    inset: 0;
}

.content {
    position: fixed;
    bottom: 10px;
    left: 10px;

    min-width: 220px;
    max-height: 65vh;
    padding: 25px;
    border-radius: 6px;

    background-color: #ff3838;
    box-shadow: hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(0deg 0% 0% / 20%) 0 10px 20px -15px;
}

.title {
    margin: 0;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 25px;
    height: 25px;
    border-radius: 100%;
}
