$accent-color: #204bc1;
$text-color: #fff;
$dark-grey: #1f1f1f;
$middle-grey: #333;
$light-grey: #414141;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Sigmar, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.container {
  width: 80%;
  margin: 0 auto;
}