.skeleton {
  display: flex;
  flex-direction: column;
  gap: 12px;

  height: 250px;
  padding: 16px;
  border-radius: 8px;

  background: var(--light-grey);
}

.header {
  height: 30px;
  border-radius: 4px;
  background: var(--skeleton-color);
  animation: pulse 1.5s infinite ease-in-out;
}

.task {
  height: 20px;
  border-radius: 4px;
  background: var(--skeleton-color);
  animation: pulse 1.5s infinite ease-in-out;
}

.footer {
  height: 40px;
  margin-top: auto;
  border-radius: 4px;

  background: var(--skeleton-color);

  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.3;
  }
}